
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="hdn_Id" value="" />

<div class="container-fluid order-history-section manage-user">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="order-title">
                <h2>Change Password</h2>
            </div>
        </div>
    </div>
    <div class="row AddEdit order-history-data o-h-remove common-order" style="padding:0px">
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12">
            <div class="myoffer-form full-acform mt-0">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row fl-sec-form">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                <div class="offer-label">User Name :</div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <span class="form-control common-control">@SunriseLabWeb.Helper.SessionFacade.UserSession.UserName</span>
                            </div>

                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                <div class="offer-label">Password :<span class="reqvalidation"> * </span></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <div class=" dash-newarrival-select-main text-left w-100 ml-0">
                                    <input type="text" id="txt_Password" name="txt_Password" class="form-control common-control pwd-field" autocomplete="off" maxlength="50">
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                <div class="offer-label">Confirm Password :<span class="reqvalidation"> * </span></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <div class=" dash-newarrival-select-main text-left w-100 ml-0">
                                    <input type="text" id="txt_CPassword" name="txt_CPassword" class="form-control common-control pwd-field" autocomplete="off" maxlength="50">
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 pt-2" style="border-top:1px solid #ddd;">
                                <ul class="offer-inbtn pull-right mrtop">
                                    <li>
                                        <button onclick="ChangePassword();" class="save offer-btn"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Change Password</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade social-model" id="ErrorModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Validation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div id="divError">

                </div>

            </div>
            <div class="modal-footer">
                <button id="btnremove" class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/js/Pages/ChangePassword.js"></script>
}

