@{
    ViewBag.Title = "Availability";
    ViewBag.ClassName = "search-contnt";
    <link href="~/Content/css/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Plugins/multiselect/bootstrap-multiselect.css" type="text/css">
}
<style>
    .btn-group > .btn:first-child {
        width: 355px;
    }

    .dropdown-menu.show {
        max-height: 450px;
        overflow-y: auto;
    }

    .searchStock {
        width: 100% !important;
    }

    .excelbtn {
        width: 160px !important;
    }

    .search-page-content .bottom-button-bar {
        width: 100%;
        /*margin: 0 15px 0 15px;*/
    }

    @@media screen and (min-width: 321px) and (max-width: 411px) {
        .search-page-content.tab-pane ul li input {
            width: 133px;
        }

        .btn-group > .btn:first-child {
            width: 265px;
            margin-left: 10px;
        }

        .offer-input1 {
            width: 83px;
        }

        .dropdown-menu.show {
            max-height: 350px;
            overflow-y: auto;
        }

        .searchStock {
            width: 100% !important;
        }

        #divButtons, .search-page-content .bottom-button-bar ul {
            background-color: #c8c8c8;
            border-radius: 0px;
        }

        .excelbtn {
            width: 95px !important;
        }
        /*.search-page-content .bottom-button-bar ul li a {
             height: 85px;
         }

         .search-page-content .bottom-button-bar {
             position: relative;
     }*/
    }

    @@media(max-width: 320px) {
        .search-page-content.tab-pane ul li input {
            width: 112px;
        }

        .btn-group > .btn:first-child {
            width: 235px;
            margin-left: 5px;
        }

        .offer-input1 {
            width: 62px;
        }

        .dropdown-menu.show {
            max-height: 350px;
            overflow-y: auto;
        }

        .searchStock {
            width: 100% !important;
        }

        #divButtons, .search-page-content .bottom-button-bar ul {
            background-color: #c8c8c8;
            border-radius: 0px;
        }

        .excelbtn {
            width: 95px !important;
        }
        /*.search-page-content .bottom-button-bar ul li a {
             height: 85px;
         }

         .search-page-content .bottom-button-bar {
             position: relative;
         }*/
    }

    @@media screen and (min-width: 412px) and (max-width: 414px) {
        .search-page-content.tab-pane ul li input {
            width: 133px;
        }

        .btn-group > .btn:first-child {
            width: 315px;
            margin-left: 10px;
        }

        .offer-input1 {
            width: 83px;
        }

        .dropdown-menu.show {
            max-height: 350px;
            overflow-y: auto;
        }

        .searchStock {
            width: 100% !important;
        }

        #divButtons, .search-page-content .bottom-button-bar ul {
            background-color: #c8c8c8;
            border-radius: 0px;
        }

        .excelbtn {
            width: 95px !important;
        }
        /*.search-page-content .bottom-button-bar ul li a {
             height: 85px;
         }

         .search-page-content .bottom-button-bar {
             position: relative;
         }*/
    }

    @@media screen and (min-width: 415px) and (max-width: 450px) {
        .search-page-content.tab-pane ul li input {
            width: 133px;
        }

        #divButtons, .search-page-content .bottom-button-bar ul {
            background-color: #c8c8c8;
            border-radius: 0px;
        }

        .excelbtn {
            width: 95px !important;
        }
        /*.search-page-content .bottom-button-bar ul li a {
             height: 85px;
         }

         .search-page-content .bottom-button-bar {
             position: relative;
         }*/
    }

    @@media (width: 768px) {
        .btn-group > .btn:first-child {
            width: 240px;
        }

        .offer-input1 {
            width: 110px;
        }

        .dropdown-menu.show {
            max-height: 350px;
            overflow-y: auto;
        }

        .searchStock {
            width: 100% !important;
        }
    }

    .search-page-content ul.search li a.active span.first-ico {
        color: #fff;
    }

    .search-page-content ul.search li a:hover span.first-ico {
        color: #fff;
    }

    .f_clr_clk {
        margin-top: -11px;
        z-index: 9999;
    }

    #sym-sec0.active .carat-dropdown-main {
        display: block;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }

    #sym-sec1.active .carat-dropdown-main {
        display: block;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }

    #sym-sec2.active .carat-dropdown-main {
        display: block;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }

    #sym-sec3.active .carat-dropdown-main {
        display: block;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }

    .active_btn {
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        padding: 5px 15px;
        float: left;
        margin-bottom: 5px;
        margin-right: 5px;
        transition-duration: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        cursor: pointer;
        font-size: 10px;
        white-space: nowrap;
        font-weight: 600;
        background: #fff;
        position: relative;
        z-index: 0;
        overflow: hidden;
        margin-top: 5px;
        /*background: #143f58;
         color: #fff;*/
        box-shadow: none;
        border-radius: 6px;
    }

    .active_btn_active {
        background: #143f58;
        color: #fff;
    }

    .active_btn_inactive {
        background: #fff;
        color: #143f58;
    }

    .part2 li.active ::after {
        border: 1px solid rgba(255,255,255,0.5);
    }

    .fncy-rst {
        right: -6px;
        top: 13px;
        position: absolute;
        /*font-size: 14px;*/
        cursor: pointer;
    }

    .sym-sec .carat-dropdown-main ul li {
        display: inline-block;
        margin: -3px 0px 0px 0px;
        width: 23%;
    }

    .g-head-t {
        font-size: 12px;
        padding: 0 12px;
        color: grey;
    }

    .g-amt-t {
        font-size: 12px;
        padding: 0 12px;
        color: #143f58;
    }

    .rw_mar_rmv {
        margin-right: 0px !important;
    }

    .grid_prewrap {
        white-space: pre-wrap !important;
    }

    .ag-paging-page-summary-panel {
        left: 10px;
        position: relative;
    }

    .ag-theme-balham .ag-cell {
        white-space: normal !important;
        line-height: inherit;
        overflow-y: auto;
    }

    .Yes {
        margin-bottom: 1px;
        color: white;
        background-color: #008000e6;
        padding: 2px 5px;
        border-radius: 16px;
        font-weight: bold;
    }

    .No {
        margin-bottom: 1px;
        color: white;
        background-color: #ff0000cf;
        padding: 2px 5px;
        border-radius: 16px;
        font-weight: bold;
    }

    @@media screen and (min-width: 0px) and (max-width: 650px) {
        .tab1TCount_mob {
            display: inline-flex !important;
        }

        .grid-optn {
            margin-top: 10px !important;
        }

        .tab1TCount_pc {
            display: none !important;
        }
    }

    @@media screen and (min-width: 649px) and (max-width: 5000px) {
        .tab1TCount_mob {
            display: none !important;
        }

        .tab1TCount_pc {
            display: inline-flex !important;
        }
    }
</style>

<input type="hidden" id="hdn_Id" />
<div class="container-fluid order-history-section">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="order-title">
                <h2>Availability</h2>
            </div>
        </div>
    </div>
    <div class="order-history-data admin">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="col-xl-6 col-lg-6 col-md-7 col-sm-6 col-12 float-left">
                    <div class="order-stone-id common-order">
                        <div class="offer-label">Ref No: <span style="color:red;">*</span></div>
                        <input type="text" tabindex="2" class="form-control common-control" @*onFocusout="GetSearch()"*@ id="txtStoneId" maxlength="2000" autocomplete="off" placeholder="Ref No, Certi No, Supplier Ref No (Comma or Space)..." onkeyup="CommaSeperatedStone_list(event)">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 float-left mb-2">
                    <div class="order-company-name common-order">
                        <div class="offer-label">File Upload: </div>
                        <input accept=".xlsx" type="file" id="file_upload" name="file_upload" class="form-control common-control" />
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 float-left mb-2">
                    <a style="cursor:pointer; font-size: 11.5px; font-style: normal; font-weight: 600; color: #143f58" href="~/Content/images/LabAvailibility_Format.xlsx" target="_blank">LabAvailibility_Format.xlsx</a>
                </div>
            </div>

            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="col-xl-5 col-lg-4 col-md-5 col-sm-12">
                    <div class="tab1TCount" style="display:none;">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 row tab1TCount_pc">
                            <div><center><span class="g-head-t">Pcs</span></center><center><span class="g-amt-t tab1Pcs">0</span></center></div>
                            <div><center><span class="g-head-t">CTS</span></center><center><span class="g-amt-t tab1CTS">0.0</span></center></div>
                            <div><center><span class="g-head-t">Final Sale Disc.(%)</span></center><center><span class="g-amt-t tab1OfferDisc">0.0</span></center></div>
                            <div><center><span class="g-head-t">Final Sale Amt US($)</span></center><center><span class="g-amt-t tab1OfferValue">0.0</span></center></div>
                            <div><center><span class="g-head-t">Price/Cts</span></center><center><span class="g-amt-t tab1PriceCts">0.0</span></center></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-4 col-md-5 col-sm-12">
                    <ul class="offer-inbtn pull-right mrtop src-rest-topbtn mt-2 mb-2">
                        <li>
                            <button class="offer-btn" onclick="UploadExcelFile();"><i class="fa fa-upload" aria-hidden="true"></i>Upload Excel </button>
                        </li>
                        <li>
                            <button class="offer-btn" onclick="GetSearch()"><i class="fa fa-search" aria-hidden="true"></i>Search </button>
                        </li>
                        <li class="excel" style="display:none;">
                            <button class="offer-btn" onclick="ExcelExport('Supplier List')"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Supplier Excel </button>
                        </li>
                        <li class="excel" style="display:none;">
                            <button class="offer-btn" onclick="ExcelExport('Customer List')"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Customer Excel </button>
                        </li>
                        <li>
                            <button class="offer-btn" onclick="Reset()"><i class="fa fa-refresh" aria-hidden="true"></i>Reset </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="col-xl-7 col-lg-4 col-md-5 col-sm-12">
            <div class="tab1TCount" style="display:none;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 row tab1TCount_mob" style="display: none; padding: 0;">
                    <table>
                        <tr>
                            <td><span class="g-head-t">Pcs</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1Pcs">0</span></td>
                        </tr>
                        <tr>
                            <td><span class="g-head-t">CTS</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1CTS">0.0</span></td>
                        </tr>
                        <tr>
                            <td><span class="g-head-t totdisc">Final Sale Disc.(%)</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1OfferDisc">0.0</span></td>
                        </tr>
                        <tr>
                            <td><span class="g-head-t totval">Final Sale Amt US($)</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1OfferValue">0.0</span></td>
                        </tr>
                        <tr>
                            <td><span class="g-head-t">Price/Cts</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1PriceCts">0.0</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="aggrid-section gridview" style="margin-top: 0px;">
        <div class="row">
            <div class="col-xl-12">
                <div class="agGrid-box-main mt-2">
                    <div id="Cart-Gride" class="ag-theme-balham ag-fresh" style="float: left; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade social-model" id="Excel_Stone_Invalid_Modal" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="margin-top: -50px;display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lab Entry</h4>
                <button type="button" class="close" onclick="CloseExcel_Stone_InvalidPopup()">×</button>
            </div>
            <div class="modal-body">
                <div class="form-group">


                </div>
            </div>
            <div class="modal-footer">
                <button id="btnsaveOfferclose" class="btn btn-primary" type="button" onclick="CloseExcel_Stone_InvalidPopup()">Cancel</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade social-model" id="LabEntry_Modal" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="margin-top: -50px;display: none;">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lab Entry</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="divList">

                </div>
            </div>
            <div class="modal-footer">
                <button id="btnsaveOrderstone" tabindex="3" class="btn btn-darkblue" type="button" onclick="Save_LabEntry()">Confirm</button>
                <button class="btn btn-darkblue" tabindex="4" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/Plugins/multiselect/bootstrap-multiselect.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/daterangepicker.min.js"></script>
    <script src="~/Content/js/ag-grid-enterprise.min.js"></script>
    <script src="~/Content/js/Pages/LabAvailability.js"></script>
    <script src="~/Content/js/Pages/detailCellRenderer.js"></script>
}