
@{
    ViewBag.Title = "Stock Upload From Supplier's File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="hdn_Id" value="" />

<div class="container-fluid order-history-section manage-user">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="order-title">
                <h2>Stock Upload From Supplier's File <span style="font-size: 12px;color: red;">(.XLSX, .XLS, .CSV)</span></h2>
            </div>
        </div>
    </div>
    <div class="row AddEdit">
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12">
            <div class="myoffer-form full-acform mt-0">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row fl-sec-form">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                <div class="offer-label">Supplier Name :<span class="reqvalidation"> * </span></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <div class=" dash-newarrival-select-main text-left w-100 ml-0">
                                    <select class="form-control select2" id="DdlSupplierName" name="DdlSupplierName" onchange="onchange_SupplierName()">
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                <div class="offer-label">Validity Days :<span class="reqvalidation"> * </span></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <div class=" dash-newarrival-select-main text-left w-100 ml-0">
                                    <input type="text" id="txtValidityDays" name="txtValidityDays" value="2" class="form-control" autocomplete="off" onkeypress="return isNumberKey(event)">
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                <div class="offer-label">File Upload :<span class="reqvalidation"> * </span></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                <div class=" dash-newarrival-select-main text-left w-100 ml-0">
                                    <input accept=".xlsx,.xls,.csv" type="file" id="file_upload" name="file_upload" class="form-control" />
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 SheetName" style="display:none;">
                                <div class="offer-label">Sheet Name :<span class="reqvalidation"> * </span></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 SheetName" style="display:none;">
                                <div class=" dash-newarrival-select-main text-left w-100 ml-0">
                                    <select class="form-control select2" id="DdlSheetName" name="DdlSheetName">
                                    </select>
                                </div>
                            </div>






                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 pt-2" style="border-top:1px solid #ddd;">
                                <ul class="offer-inbtn pull-right mrtop">
                                    <li>
                                        <button onclick="Stock_Upload();" class="save offer-btn" id="Stock_Upload_btn"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Stock Upload</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/js/Pages/SupplierStockUpload.js"></script>
}

